<div class="tagslist">
<p class="asidetitle"><%= __('Douban') %></p>
<p>&nbsp;</p>
<iframe src="./academic/projects/visualization/douban.html" scrolling=yes name=ce width=100% height=360 frameborder=0 style="border-width:0px; border-color:white; border-style:solid;"></iframe>
</div>