<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
	  <li><a href="http://www.douban.com/people/bigbigsun/" target="_blank" title="bigbigsun">bigbigsun的豆瓣</a></li>
	  <li><a href="http://www.newsmth.net/nForum/#!board/braveheart" target="_blank" title="braveheart">清华山野bbs</a></li>
	  <li><a href="http://www.matrix67.com/blog/" target="_blank" title="matrix67">matrix67</a></li>
	  <li><a href="http://localhost-8080.com/" target="_blank" title="localhost-8080">localhost-8080</a></li>
	  <li><a href="http://jianshu.com" target="_blank" title="jianshu">简书</a></li>
	  <li><a href="http://v2ex.io" target="_blank" title="v2ex">v2ex</a></li>
	  <li><a href="http://next.36kr.com" target="_blank" title="Next">36kr next</a></li>
	  <li><a href="http://coolshell.cn" target="_blank" title="coolshell">酷壳</a></li>
      <li><a href="http://shixian.com" target="_blank" title="shixian">实现</a></li>

	  <li><a href="http://quora.com" target="_blank" title="quora">Quora</a></li>
	  <li><a href="http://zhihu.com" target="_blank" title="zhihu">知乎</a></li>
      <li><a href="http://arnetminer.org" target="_blank" title="AMiner">AMiner</a></li>
	  <li><a href="http://www.tsinghua.edu.cn" target="_blank" title="Tsinghua">Tsinghua University</a></li>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
    </ul>
</div>
